# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
**/.DS_Store
**/public/.DS_Store
streetMeet/www/lib/
streetMeet/platforms/
streetMeet/npm-debug.log
public/lib/