<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Create Event</h1>
  </ion-header-bar>
  <ion-content class="has-header">

    <div class="list ">
      <div class="event-form center-form">
        <label class="item item-input">
          <input type="text" placeholder="Event Title" ng-model="eventTitle">
        </label>

        <label class="item item-input">
                <input type="text" placeholder="Describe your event" ng-model="eventDescription">
        </label>

        <label class="item item-input">
                <input type="text" placeholder="Number of attendees. i.e. 2 - 20" ng-model="eventCapacity">
        </label>

        <label class="item item-input">
                <input type="text" placeholder="Event Category" ng-model="eventCategory">
        </label>

        <label class="item item-input">
                <input type="text" placeholder="Minimun Capacity" ng-model="eventMinCapacity">
        </label>

        <button ng-click="createEvent(eventTitle, eventDescription, eventCapacity, eventCategory, eventMinCapacity)" class="button button-positive button-block">Create Event</button>

        <button class="button button-light" ui-sref="mapView" >Cancel</button>
      </div>

    </div>

  </ion-content>
</ion-pane>











<!-- var eventData ={
            title: eventTitle,
            location: {
                lat: eventLat,
                lon: eventLon
            },
            description: eventDescription,
            capacity: eventCapacity,
            category: eventCategory,
            min_capacity: eventMinCapacity
        }; -->
