    <ion-view>
      <ion-content>
        <ion-header-bar class="bar bar-stable bar-header">
          <h1 class="title">Event Title</h1>
          <button class="button">Un-attend</button>
        </ion-header-bar>
        <div class="event-map header-offset">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.2684539259108!2d-122.40904600000002!3d37.783748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858085bdb9cd35%3A0xbdb5525f0a6d91a6!2sHack+Reactor!5e0!3m2!1sen!2sus!4v1419043897585" width="360" height="200" frameborder="0" style="border:0"></iframe>
        </div>

        <header class="bar bar-stable">
          <h1 class="title">Attending</h1>
        </header>


        <ul class="list header-offset" >

            <li class="item item-avatar">
              <img src="https://a2-images.myspacecdn.com/images03/22/a79277b15486499d9b379e837b5f48c9/300x300.jpg">

              <div class="icon-control-right ion-person-add"></div>

              <h2>Leonardo</h2>
              <p>Lorem ipsum dolor sit amet, consectetur.</p>

            </li>

            <li class="item item-avatar">
              <img src="https://a2-images.myspacecdn.com/images03/22/a79277b15486499d9b379e837b5f48c9/300x300.jpg">

              <div class="icon-control-right ion-person-add"></div>

              <h2>Michaelangelo</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>

            </li>

            <li class="item item-avatar">
              <img src="https://a2-images.myspacecdn.com/images03/22/a79277b15486499d9b379e837b5f48c9/300x300.jpg">

              <div class="icon-control-right ion-person-add"></div>

              <h2>Donatello</h2>
              <p>Lorem ipsum dolor.</p>

            </li>

            <li class="item item-avatar">
              <img src="https://a2-images.myspacecdn.com/images03/22/a79277b15486499d9b379e837b5f48c9/300x300.jpg">

              <div class="icon-control-right ion-person-add"></div>

              <h2>Raphael</h2>
              <p>Lorem ipsum dolor sit.</p>

            </li>


        </ul>



      </ion-content>
    </ion-view>

