<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content class="has-header">
        
       
        <!-- check if the currenUser is empty, if false then hide this until we have something to show -->
        <div class="list" >
            <div class="item item-body">
              <img src="{{currentUser.picture.data.url}}" class="full-image">
          </div>
            <div class="item item-body">
              <h1>{{currentUser.name}}</h1>
              <h2> {{currentUser.email}}</h2>
          </div>

        </div>
        
        <!-- login, signup or sign in with facebook -->
        <div class="list" ng-hide="currentUser.email">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="beat@theMeat.com" ng-model="theEmail">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="thePass">
            </label>


        </div>
         <div class="list padding">

            <!-- Basic buttons with function directed to login.js -->
                <button ng-click="simpleSignup(theEmail, thePass)" class="button button-positive button-block"> Sign-up</button>
                <button ng-click="simpleLogin(theEmail, thePass)" class="button button-positive button-block">Log-in</button>
                <button ng-click="facebookConnect()" class="button button-positive button-block">Facebook</button>
            <!-- basic buttons end -->
        </div>

  </ion-content>
</ion-pane>
