<ion-pane class="bg-dark-grey">

  <ion-content>

    <div class="user-pic" ng-hide="currentUser.email">
      <div class="user-pic-container">
        <div class="ion-person"></div>
      </div> <!-- .login-pic-container -->

    </div> <!-- .user-pic -->


    <div class="login-form" ng-hide="currentUser.email">
      <h4>Login To Your Account</h4>

      <div class="list" >
        <label class="item item-input">
          <input type="text" placeholder="your@email.com" ng-model="theEmail">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="thePass">
        </label>
      </div>

      <a href="">Forgot your password?</a>

      <button class="button button-light" ng-click="simpleLogin(theEmail, thePass)">
        Login
      </button>
      
      <button class="button fbook-login" ng-click="facebookConnect()">
        Login With Facebook
      </button>
    
      <a href="" ng-click="simpleSignup(theEmail, thePass)">Create an Account</a>


    </div> <!-- .login-form -->

    <!-- check if the currenUser is empty, if false then hide this until we have something to show -->
    <div class="list" >
        <div class="user-pic">
          <div class="user-pic-container">
              <img src="{{currentUser.picture.data.url}}" class="full-image">
          </div> <!-- .login-pic-container -->
        </div> <!-- .user-pic -->

        <div class="item item-body">
          <h1>{{currentUser.name}}</h1>
          <h2> {{currentUser.email}}</h2>
      </div>

    </div>

  </ion-content>
</ion-pane>
