<ion-view class="bg-dark-grey">

  <ion-content>

    <div class="user-pic" ng-hide="currentUser.email">
      <div class="user-pic-container">
        <div class="ion-person"></div>
      </div> <!-- .login-pic-container -->

    </div> <!-- .user-pic -->


    <div class="login-form center-form" ng-hide="currentUser.email">
      <h4>Login To Your Account</h4>

      <div class="list" >
        <label class="item item-input">
          <input type="text" placeholder="your@email.com" ng-model="theEmail">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="thePass">
        </label>
      </div>

      <a href="">Forgot your password?</a>

      <button class="button button-light" ng-click="simpleLogin(theEmail, thePass)">
        Login
      </button>

      <button class="button fbook-login" ng-click="loginWithFacebook()">
        Login With Facebook
      </button>


      <a href="" ng-click="simpleSignup(theEmail, thePass)">Create an Account</a>


    </div> <!-- .login-form -->

    <!-- check if the currenUser is empty, if false then hide this until we have something to show -->
    <div class="list" ng-show="currentUser.email" >
        <div class="user-pic">
          <div class="user-pic-container">
              <img src="{{currentUser.picture.data.url}}" class="full-image">
          </div> <!-- .login-pic-container -->
        </div> <!-- .user-pic -->

        <div class="item item-body">
          <h1>{{currentUser.name}}</h1>
          <h2> {{currentUser.email}}</h2>



          <div ng-click="getMyEvents(currentUserId.uid)" class="button button-light"> Get My Events</div>






      </div>
      <div>
        <!-- logout  -->
          <span ng-show="currentUser">
            {{ currentUser.name }} | <a href="#" ng-click="logout()" ui-sref="login">Logout</a>
          </span>
        <!-- end:logout -->


      </div>

      <section >

        <header class="bar bar-stable">
          <h1 class="title">Hosted Events</h1>
        </header>


        <ul id="events-current" class="list has-header" >

          <li on-tap="expandTap($event)" ng-repeat="event in theEvents" class="slide-controls item event clearfix">


            <div class="event-date">
              10/27/2014
            </div>
            <div class="event-img">
              <img src="http://lygsbtd.files.wordpress.com/2011/08/beer_toast.jpg">
            </div>

            <div class="event-main clearfix">
              <header class="event-header">
                <h2>{{ event.title }}</h2>
                <p>{{ event.description }} </p>
              </header> <!-- .event-header -->

              <ul class="event-info">
                <li class="v-center"><span class="event-info-lg">12</span> of 24</li>
                <li class="v-center"><span class="ion-thumbsup icon wf-icon"></span></li>
              </ul>

            </div> <!-- .event-main -->
            <div class="event-description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio voluptas reiciendis facilis sed, laboriosam itaque.
              </p>
            </div>
          </li> <!-- .item -->

        </ul> <!-- .list -->



      </section>



    </div>

  </ion-content>
</ion-view>
