<ion-pane class="bg-dark-grey">
  <ion-content>
    <ion-header-bar class="bar bar-stable bar-header">
      <h1 class="title">User Name</h1>
    </ion-header-bar>

      <div class="user-pic header-offset">
        <div class="user-pic-container">
          <div class="ion-person"></div>
        </div> <!-- .login-pic-container -->

      </div> <!-- .user-pic -->

    <header class="bar bar-stable">
      <h1 class="title">About</h1>
    </header>

    <section class="full-width-text header-offset">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, molestiae illum cupiditate voluptates nobis! Aliquam, eum nostrum rem ad minima.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, molestiae illum cupiditate voluptates nobis! Aliquam, eum nostrum rem ad minima.</p>

    </section>
  </ion-content>
</ion-pane>