<ion-pane id="singleEvent" class="detail-view event-pane">
  <ion-header-bar class="hTabs">
    <button class="header-tab" ng-click="$ionicGoBack()" ng-hide="owner">Back</button>
    <button class="header-tab" ng-show="initial"></button>
    <button class="header-tab" ng-click="joinEvent()" ng-show="joiner">Join Event</button>
    <button class="header-tab" ng-click="leaveEvent()" ng-show="leaver">Leave Event</button>
    <button class="header-tab" ng-show="owner" ui-sref="editEventSettings({id: eventData.$id})">Edit Event</button>
    <button class="header-tab" ng-click="leaveEvent()" ng-show="owner">Leave Event</button>
  </ion-header-bar>
  <ion-content class="has-header">

  <div class="detail-section">
    <div class="detail-img">
      <img src="http://lygsbtd.files.wordpress.com/2011/08/beer_toast.jpg" alt="">
    </div>

    <div class="detail-info">
      <span class="time-remaining"><span>
      <h1 class="timer"><timer countdown="eventData.timeLeft" max-time-unit="'minute'" interval="1000">{{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer></h1>

      <h2 class="detail-title">{{eventData.title}}</h2>
      <!-- <span class="event-location-title">Sad Bar</span> -->
      <span class="event-location-address">{{ eventData.address }}</span>

      <button class="inline-btn icon-btn" ui-sref="mapCurrentEvents" ng-click="refreshData()">
        <span class="btn-icon v-center"><i class="fa fa-map-marker"></i></span>
        <span class="v-center">Map</span>
      </button>
    </div>

    <div class="detail-description">
      <p>{{eventData.description}}</p>
    </div>

  </div>

  <div class="attendee-list">
    <header class="mid-header">
      <h3>Attendees</h3>
    </header>
    <ul ng-repeat="attendee in attendees">
      <li class="item">
        <div class="clearfix item-content">

          <div class="event-more-info" ui-sref="userProfile({id:'facebook:'+attendee.id})">
            <i class="fa fa-angle-right v-center"></i>
          </div>

           <div class="detail-img profile-pic clearfix">
              <img ng-show="attendee.picture.data.url" src={{attendee.picture.data.url}} alt="">
              <i ng-show="!attendee.picture.data.url" class="fa fa-user v-center"></i>
           </div>


          <header class="event-header item-header">
            <h2>{{attendee.display_name}}</h2>
            <span class="item-subtitle">"Something Witty"</span>
          </header> <!-- .event-header -->

        </div>

      </li>
    </ul>
  </div> <!-- .attendee-list -->
    </ion-content>
</ion-pane>
