<ion-pane id="editEventSettings" class="edit-event-settings">
  <ion-header-bar align-title="center" class="main-header">
    <div class="buttons">
      <div class="header-back-btn">
        <a on-tap="$ionicGoBack()"><i class="fa fa-arrow-circle-left"></i></a>
      </div>
    </div>
    <h1 class="title">Event Settings</h1>
  </ion-header-bar>
   <ion-content class="has-header" >

    <ul class="settings-list">
       <li class="setting-item item">
         <div class="clearfix item-content">

           <div class="list-more-info">
            <ul class="setting-edit-options">
              <li class="settings-edit-btn" on-tap="settingsTap($event)"><a href="">Edit</a></li>
              <li class="settings-confirm-edit-btn settings-confirm" on-tap="settingsTap($event)"><a href=""><i class="fa fa-check"></i></a></li>
              <li class="settings-cancel-edit-btn settings-confirm" on-tap="settingsTap($event)"><a href=""><i class="fa fa-close"></i></a></li>
            </ul>

           </div>
           <div class="settings-meta">
             <label class="setting-label v-center">Event Title:</label>
             <span class="setting-current-val v-center">{{eventData.title}}</span>
           </div>
           <div class="settings-edit-field">
             <input type="text" placeholder="Event title"></input>
           </div>
         </div>
       </li>

       <li class="setting-item item">
         <div class="clearfix item-content">

           <div class="list-more-info">
            <ul class="setting-edit-options">
              <li class="settings-edit-btn" on-tap="settingsTap($event)"><a href="">Edit</a></li>
              <li class="settings-confirm-edit-btn settings-confirm" on-tap="settingsTap($event)"><a href=""><i class="fa fa-check"></i></a></li>
              <li class="settings-cancel-edit-btn settings-confirm" on-tap="settingsTap($event)"><a href=""><i class="fa fa-close"></i></a></li>
            </ul>

           </div>
           <div class="settings-meta">
             <label class="setting-label v-center">Event Description:</label>
             <span class="setting-current-val v-center">{{eventData.description}}</span>
           </div>
           <div class="settings-edit-field">
             <input type="text" placeholder="Event description (100 character max)"></input>
           </div>
         </div>
       </li>


       <li class="setting-item item">
         <div class="clearfix item-content">

           <div class="list-more-info">
            <ul class="setting-edit-options">
              <li class="settings-edit-btn" on-tap="settingsTap($event)"><a href="">Edit</a></li>
              <li class="settings-confirm-edit-btn settings-confirm" on-tap="settingsTap($event)"><a href=""><i class="fa fa-check"></i></a></li>
              <li class="settings-cancel-edit-btn settings-confirm" on-tap="settingsTap($event)"><a href=""><i class="fa fa-close"></i></a></li>
            </ul>

           </div>
           <div class="settings-meta">
             <label class="setting-label v-center">Capacity:</label>
             <span class="setting-current-val v-center">{{eventData.capacity}}</span>
           </div>
           <div class="settings-edit-field">
             <input type="number" name="quantity" min="2" max="1000" placeholder="Capacity (2-1000)"></input>
           </div>
         </div>
       </li>


       <li class="setting-item item">
         <div class="clearfix item-content">

           <div class="list-more-info">
            <ul class="setting-edit-options">
              <li class="settings-edit-btn" on-tap="settingsTap($event)"><a href="">Edit</a></li>
              <li class="settings-confirm-edit-btn settings-confirm" on-tap="settingsTap($event)"><a href=""><i class="fa fa-check"></i></a></li>
              <li class="settings-cancel-edit-btn settings-confirm" on-tap="settingsTap($event)"><a href=""><i class="fa fa-close"></i></a></li>
            </ul>

           </div>
           <div class="settings-meta">
             <label class="setting-label v-center">Location</label>
             <span class="setting-current-val v-center">{{eventData.address}}</span>
           </div>
           <div class="settings-edit-field">
             <input type="text" placeholder="Location"></input>
           </div>
         </div>
       </li>

    </ul>

    <button ui-sref="" class="btn icon-btn sticky-bottom">
     <span class="btn-icon v-center"><i class="fa fa-edit"></i></span>
     Save Event Info
   </button>

  </ion-content>

  <div class="settings-btn">
    <a ui-sref="settings">
      <i class="fa fa-cog"></i>
    </a>
  </div>
</ion-pane>
