<ion-pane id="listCurrentEvents" class="map-pane">
  <ion-header-bar class="hTabs">
    <button class="header-tab" ui-sref="mapCurrentEvents">Map</button>
    <button class="header-tab" ui-sref="createEvent">Create Event</button>
  </ion-header-bar>
   <ion-content class="has-header" scroll="false">

      <ul id="events-current" class="list"  >

        <!-- ng-repeat="event in testList | reverse | timer" -->

        <li on-swipe="onSwipe($event)" on-drag="dragVert($event)" on-tap="expandTap($event)" ng-repeat="event in list | timer | reverse" class="slide-controls item event clearfix">

          <div class="slide-deny slide-button v-center" on-tap="removeTap($event)">
            Decline
          </div>

          <div class="event-main clearfix item-content">
            <div class="event-more-info" ui-sref="attendEvent({id: event.$id})">


              <i class="fa fa-angle-right v-center"></i>
            </div>

            <div class="event-meta">
              <span class="event-distance">{{distance[event.$id]}} mi.</span>
              <span class="event-time-remaining time-remaining">18:03</span>
            </div>

            <div class="event-icon item-img">
              <i class="fa fa-beer v-center"></i>
            </div>

            <header class="event-header item-header">
              <h2>{{ event.title }}</h2>
              <span class="item-subtitle">Sad Bar - 1234 sad avenue</span>
            </header> <!-- .event-header -->

            <div class="event-description">
              <p>
                {{ event.description }}
              </p>
            </div>

          </div> <!-- .event-main -->

        </li> <!-- .item -->

      </ul> <!-- .list -->



    </ion-content>
    <div class="settings-btn">
      <a ui-sref="settings">
        <i class="fa fa-cog"></i>
      </a>
    </div>
</ion-pane>
