<ion-pane id="emailSignin" class="login-pane">
  <ion-content scroll="false">
    <div id="main-logo">
      <img class="v-center" src="../../img/logo_verge22.png" alt="">
    </div>

    <form action="" class="signin sticky-bottom">
      <input type="email" placeholder="Email" ng-model="theEmail"></input>
      <input type="password" placeholder="Password" ng-model="thePass"></input>

      <button ui-sref="mapCurrentEvents" class="btn icon-btn" ng-click="simpleLogin(theEmail, thePass)">
        <span class="btn-icon v-center"><i class="fa fa-sign-in"></i></span>
        Sign in
      </button>
      <span class="sub-btn-link">
        <a on-tap="$ionicGoBack()" ui-sref="login">Cancel</a>
      </span>
    </form>

  </ion-content>
</ion-pane> 