<ion-pane id="userProfile" class="userProfile">
  <ion-header-bar align-title="center" class="main-header">
    <div class="buttons">
      <div class="header-back-btn">
        <a on-tap="$ionicGoBack()"><i class="fa fa-arrow-circle-left"></i></a>
      </div>
    </div>
    <h1 class="title">Profile</h1>
  </ion-header-bar>
   <ion-content class="has-header" >

    <div class="detail-section">
     <div class="detail-img profile-pic">
       <img src="http://lygsbtd.files.wordpress.com/2011/08/beer_toast.jpg" alt="">
     </div>

     <div class="detail-info">
      

       <h2 class="detail-title">{{eventData.title}} Rick Takes</h2>

     </div>

     <div class="inset-divider"></div>

     <div class="detail-description">
       <p>{{eventData.description}} Description will go here</p>
     </div>

   </div>
     
  </ion-content>

  <div class="settings-btn">
    <a ui-sref="settings">
      <i class="fa fa-cog"></i>
    </a>
  </div>
</ion-pane>
