<ion-pane id="userProfile" class="userProfile">
  <ion-header-bar align-title="center" class="main-header">
    <div class="buttons">
      <div class="header-back-btn">
        <a on-tap="$ionicGoBack()"><i class="fa fa-arrow-circle-left"></i></a>
      </div>
    </div>
    <h1 class="title">Profile Settings</h1>
  </ion-header-bar>
   <ion-content class="has-header" >

   <ul>
         <li class="item">
           <div class="clearfix item-content">

             <div class="event-more-info" ui-sref="viewSingleEvent">
               Edit
             </div>


             <header class="event-header item-header">
               <h2>Rick Takes</h2>
               <span class="item-subtitle">"Something Witty"</span>
             </header> <!-- .event-header -->

           </div>
         </li>
       </ul>
     
  </ion-content>
</ion-pane>
