/* Empty. Add your own CSS if you like */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*********End Clearfix**********/

/********* Ionic Style Resets *********/
.button{
  min-height: 0;
  font-size: 1em;
  line-height: 2.25em;
}
/********* EndIonic Style Resets *********/


body{
  font-size: 16px;
}


/* Utility Classes */
.v-center{
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}


.header-offset{
  padding-top: 44px;
}



/****** App wide styles ******/

.bg-dark-grey{
  background: #9C9CA8;
}


.icon-control-right{
    float: right;
  }

    .icon-control-right .icon{
      float: right;
      clear: right;
    }

.user-pic{
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 5.5em;
}

  .user-pic-container{
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 59px;
    margin: .25em auto;
  }


.full-width-text{
  width: 100%;
  box-sizing: border-box;
  padding: 20% 7%;
  color: #fff;
}

 /*Form items*/
  .center-form{
    width: 80%;
    margin: 0 auto;
  }

  label.item{
    margin: 0 0 .5em;
    padding: 1px 0 2px 16px;
  }

/* Text Styling*/

.event-info-lg{
  font-size: 1.25em;
}


/* Form Styling*/

label.item{
  font-size: 1em;
  margin: 0 0 1em;
}

input[type="text"]{
}

.wf-icon {

  color: #444;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 12px;
  min-width: 52px;
  
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 1.8125em;
  cursor: pointer;
}


/******** Layout **********/


/******** Login Screen **********/
#login-screen .pane{
  background: #9C9CA8;
}

  #login-screen .list{
    margin-bottom: 10px;
  }

  .login-form h4{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
  }

  .login-form button{
    width: 80%;
    margin: .25em 10% ;
  }

  .login-form a{
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: block;
    margin: .25em 0 .5em;
  }

  button.fbook-login{
    background-color: #3B5998;
    color: #fff;
    border-color: #fff;
  }

    button.fbook-login:hover {
      color: #D9D9D9;
    }

/******** Event List **********/
ul#events-current{

}

  ul#events-current li.item{
      width: 100%;
  }

    li header{
      float: left;

    }



    ul#events-current .event-description{
      clear: both;
      display: none;
      width: 60%;
      margin: 1.8em 0 0 0;
      word-wrap: normal;

    }

       ul#events-current .event-description p{
        white-space: normal;
       }


  ul.event-info{
    display: block;
    float: left;
    clear: left;
  }

    ul.event-info li {
      vertical-align: middle;
      float: left;
      font-size: .625em;
      line-height: 1em;
      height: 30px;
    }



/******** Event Info Screen - Attendee **********/









